@font-face {
  font-family: 'lazer';
  src: url(aa359867664b5bf06e465d312d5bdda6.woff2) format("woff2"), url(8871e043b30fe6777ffd0557fc723ae1.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

.piano {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font: 0/0 lazer;
  padding: 100px 20px 20px;
  border-radius: 20px;
  background: #393C50; }
  .piano.small .controls .round-control, .piano.x-small .controls .round-control {
    display: none; }
  .piano.x-small {
    padding-top: 165px; }
    .piano.x-small .midiman-logo {
      margin: 32px 55px 23px; }
    .piano.x-small .midiman-logo-bg {
      top: 20%; }
    .piano.x-small .controls {
      text-align: center; }
      .piano.x-small .controls .drop-control {
        margin: 100px 0 30px; }
  .piano .midiman-logo {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    line-height: 30px;
    color: #336dfa;
    margin: 32px 27px 23px; }
    .piano .midiman-logo:before {
      content: 'midiman';
      font-size: 30px;
      line-height: 30px;
      margin: -2px;
      color: #fd2e5c;
      position: absolute; }
  .piano .midiman-logo-bg {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 30%;
    right: 0;
    clip: rect(auto, 180px, auto, 132px);
    transform: rotate(-110deg); }
    .piano .midiman-logo-bg:after {
      content: '';
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d1f36), color-stop(100%, #2f3562));
      transform: rotate(-45deg); }
  .piano .controls {
    background: #1d1e35;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 185px;
    border-radius: 10px 10px 0 0; }
    .piano .controls .round-control {
      vertical-align: top;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #4B5389;
      box-shadow: inset 0 0 0 11px #1d1f36;
      animation: base 2s cubic-bezier(0.49, 1.46, 0.82, -0.21) infinite;
      border: 4px solid #4B5389;
      display: inline-block;
      margin: 17px 20px; }
      .piano .controls .round-control + .round-control {
        margin-left: 0; }
    .piano .controls .round-control-2 {
      animation-delay: .2s; }
    .piano .controls .round-control-3 {
      animation-delay: .4s; }

@keyframes base {
  0% {
    box-shadow: inset 0 0 0 11px #1d1f36; }
  50% {
    box-shadow: inset 0 0 0 2px #1d1f36; }
  100% {
    box-shadow: inset 0 0 0 20px #1d1f36; } }
    .piano .controls .drop-control {
      vertical-align: top;
      display: inline-block;
      -webkit-appearance: none;
      background: none;
      border: 1px solid #999;
      padding: 5px 10px;
      outline: none;
      border-radius: 0;
      color: #999;
      margin: 30px 0 30px 10px; }
  .piano .octave {
    display: inline-grid;
    grid-template-columns: 20px 10px 10px 10px 10px 10px 20px 20px 10px 10px 10px 10px 10px 10px 10px 10px 20px;
    grid-template-rows: 96px; }
  .piano .whole-tone {
    position: relative;
    background: #fff;
    border: 1px solid #000;
    width: 30px;
    height: 150px;
    border-radius: 0 0 5px 5px;
    margin-right: 1px; }
    .piano .whole-tone.active {
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4);
      transform: scaleY(0.99);
      -webkit-transform-origin-y: 0; }
  .piano .semi-tone {
    background: #000;
    z-index: 2;
    width: 24px;
    height: 96px;
    border-radius: 0 0 5px 5px; }
    .piano .semi-tone.active {
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.6);
      transform: scaleY(0.99);
      -webkit-transform-origin-y: 0; }
  .piano .c {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; }
  .piano .c-sharp {
    grid-column: 2 / span 2;
    grid-row: 1; }
  .piano .d {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2; }
  .piano .d-sharp {
    grid-column: 5 / span 2;
    grid-row: 1; }
  .piano .e {
    grid-column: 6 / span 2;
    grid-row: 1 / span 2; }
  .piano .f {
    grid-column: 8 / span 2;
    grid-row: 1 / span 2; }
  .piano .f-sharp {
    grid-column: 9 / span 2;
    grid-row: 1; }
  .piano .g {
    grid-column: 10 / span 2;
    grid-row: 1 / span 2; }
  .piano .g-sharp {
    grid-column: 12 / span 2;
    grid-row: 1; }
  .piano .a {
    grid-column: 13 / span 2;
    grid-row: 1 / span 2; }
  .piano .a-sharp {
    grid-column: 15 / span 2;
    grid-row: 1; }
  .piano .b {
    grid-column: 16 / span 2;
    grid-row: 1 / span 2; }


/*# sourceMappingURL=application-228729e52f15331b9365.css.map*/